@import "tailwindcss";

:root {
  --font-size: 1.2rem;
}

body {
  background-color: #F4F2EE;
}


@layer components {
  .button-primary {@apply bg-red-500 text-white py-4 px-6 font-bold rounded-2xl text-4xl}
  .button-secondary {@apply bg-red-400 text-white p-4 font-bold rounded-2xl text-xl}
  .button-tertiary {@apply bg-purple-800 text-white p-4 font-bold rounded-2xl text-xl}
  .button-logout {@apply bg-black text-white p-4 font-bold rounded-2xl text-xl}
}



